#main {
  display: flex;
  flex-wrap: wrap;
}

#main>fieldset {
  flex: 1 1 80px;
}

#queue_list_container {
  display: inline-block;
  min-width: 20em;
  min-height: 12em;
  overflow-x: hidden;
  overflow-y: scroll;
}

#progressbar {
  min-width: 12em;
  width: 100%;
}
